<section class="catalog page-section" id="catalog">
  <div class ="container catalog__container">
    <h2 class="catalog__title section-title"> Наш <span class="yellow-text">каталог</span></h2>
    <div class="catalog__tabs tabs">
      <div class="catalog__nav">
        <button class="catalog__btn catalog__btn--active" data-tab="#pizza">Пиццы</button>
        <button class="catalog__btn" data-tab="#burgers">Бургеры</button>
        <button class="catalog__btn" data-tab="#desserts">Десерты</button>
        <button class="catalog__btn" data-tab="#soups">Супы</button>
        <button class="catalog__btn" data-tab="#drinks">Напитки</button>
      </div>
    </div>

    <div class="catalog__content tab">
      <div class="tab__item tab__item--active grid" id="pizza">
        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">522 Р</div>
            <img src="../img/product-card/pizza-mushroom.jpg" alt="Кофе">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца с грибами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">490 Р</div>
            <img src="../img/product-card/pizza-pepperoni.jpg" alt="Пицца пеперони">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>10.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>23.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>33.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>299.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца пеперони</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">539 Р</div>
            <img src="../img/product-card/pizza-pineapple.jpg" alt="Пицца с ананасами">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>12.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>20.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>249.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца с ананасами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">522 Р</div>
            <img src="../img/product-card/pizza-mushroom.jpg" alt="Кофе">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца с грибами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">490 Р</div>
            <img src="../img/product-card/pizza-pepperoni.jpg" alt="Пицца пеперони">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>10.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>23.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>33.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>299.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца пеперони</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">539 Р</div>
            <img src="../img/product-card/pizza-pineapple.jpg" alt="Пицца с ананасами">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>12.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>20.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>249.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца с ананасами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">522 Р</div>
            <img src="../img/product-card/pizza-mushroom.jpg" alt="Кофе">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца с грибами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">490 Р</div>
            <img src="../img/product-card/pizza-pepperoni.jpg" alt="Пицца пеперони">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>10.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>23.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>33.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>299.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Пицца пеперони</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

      </div>

      <div class="tab__item grid" id="burgers">
        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">299 Р</div>
            <img src="../img/product-card/burger.jpg" alt="Бургер Биг кинг">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Биг кинг"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">339 Р</div>
            <img src="../img/product-card/burger-4.jpg" alt="Бургер Воппер Экстра">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Воппер Экстра"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">499 Р</div>
            <img src="../img/product-card/burger-2.jpg" alt="Бургер Биг кинг XXL">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Биг кинг XXL"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">319 Р</div>
            <img src="../img/product-card/burger-3.jpg" alt="Бургер Сырный Воппер">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Сырный Воппер"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">299 Р</div>
            <img src="../img/product-card/burger.jpg" alt="Бургер Биг кинг">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Биг кинг"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">339 Р</div>
            <img src="../img/product-card/burger-4.jpg" alt="Бургер Воппер Экстра">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Воппер Экстра"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">499 Р</div>
            <img src="../img/product-card/burger-2.jpg" alt="Бургер Биг кинг XXL">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Биг кинг XXL"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">319 Р</div>
            <img src="../img/product-card/burger-3.jpg" alt="Бургер Сырный Воппер">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Бургер "Сырный Воппер"</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab__item grid" id="desserts">
        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">219 Р</div>
            <img src="../img/product-card/dessert-1.jpg" alt="Банановый чизкейк">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Банановый чизкейк</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">249 Р</div>
            <img src="../img/product-card/dessert-2.jpg" alt="Творожный тортик">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Творожный тортик</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">189 Р</div>
            <img src="../img/product-card/dessert-3.jpg" alt="Творожная запеканка с клубникой">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Творожная запеканка с клубникой</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">269 Р</div>
            <img src="../img/product-card/dessert-4.jpg" alt="Блины с фруктами">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Блины с фруктами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">239 Р</div>
            <img src="../img/product-card/dessert-5.jpg" alt="Клубничный чизкейк">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Клубничный чизкейк</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">219 Р</div>
            <img src="../img/product-card/dessert-1.jpg" alt="Банановый чизкейк">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Банановый чизкейк</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">249 Р</div>
            <img src="../img/product-card/dessert-2.jpg" alt="Творожный тортик">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Творожный тортик</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">189 Р</div>
            <img src="../img/product-card/dessert-3.jpg" alt="Творожная запеканка с клубникой">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Творожная запеканка с клубникой</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">269 Р</div>
            <img src="../img/product-card/dessert-4.jpg" alt="Блины с фруктами">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Блины с фруктами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">239 Р</div>
            <img src="../img/product-card/dessert-5.jpg" alt="Клубничный чизкейк">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Клубничный чизкейк</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab__item grid" id="soups">
        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">359 Р</div>
            <img src="../img/product-card/soup-1.jpg" alt="Суп с креветками и овощами">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Суп с креветками и овощами</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">319 Р</div>
            <img src="../img/product-card/soup-2.jpg" alt="Сырный суп">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Сырный суп</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">439 Р</div>
            <img src="../img/product-card/soup-3.jpg" alt="Куриный суп с яичной лапшой и имбирём">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Куриный суп с яичной лапшой и имбирём</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">259 Р</div>
            <img src="../img/product-card/soup-4.jpg" alt="Грибной суп">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>7.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>9.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>5.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>219.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Грибной суп</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">319 Р</div>
            <img src="../img/product-card/soup-5.jpg" alt="Суп с вермишелью и говядиной">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>9.2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>18.5</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>26.5</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>269.9</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Суп с вермишелью и говядиной</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>

      <div class="tab__item grid" id="drinks">
        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">119 Р</div>
            <img src="../img/product-card/drink-1.jpg" alt="Кофе Капучино">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>1</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>2</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>3</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>60</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Кофе Капучино</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">119 Р</div>
            <img src="../img/product-card/drink-2.jpg" alt="Кофе Американо">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>1</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>1</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>50</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Кофе Американо</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">170 Р</div>
            <img src="../img/product-card/drink-3.jpg" alt="Клубничный молочный коктель">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>6</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>6</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>13</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>120</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Клубничный молочный коктель</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">109 Р</div>
            <img src="../img/product-card/drink-4.jpg" alt="Кока-кола 0.33л">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>2</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>6</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>22</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>89</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Кока-кола 0.33л</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>

        <div class="catalog__item product-box">
          <div class="product-box__img">
            <div class="product-box__price">79 Р</div>
            <img src="../img/product-card/drink-5.jpg" alt="Вода негазированная 0.5л">
            <div class="product-box__nutrition nutrition">
              <div class="nutrition-item">Пищевая ценность: </div>
              <div class="nutrition-item">
                <span>Белки, г</span>
                <span>0</span>
              </div>
              <div class="nutrition-item">
                <span>Жиры, г</span>
                <span>0</span>
              </div>
              <div class="nutrition-item">
                <span>Углеводы, г</span>
                <span>0</span>
              </div>
              <div class="nutrition-item">
                <span>Пищевая ценность, Ккал</span>
                <span>0</span>
              </div>
            </div>
          </div>
          <div class="product-box__content">
            <h4 class="product-box__title">Вода негазированная 0.5л</h4>
            <div class="product-box__btn-container">
              <button class="product-box__btn main-btn">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
