<footer class="footer">
  <div class ="container footer__container">
    <div class="footer__social">
      <a href="#" class="footer__icon">
        <svg>
           <use xlink:href="img/sprite.svg#email"></use>
        </svg>
      </a>

      <a href="#" class="footer__icon">
        <svg >
           <use xlink:href="img/sprite.svg#vk"></use>
        </svg>
      </a>

      <a href="#" class="footer__icon">
        <svg >
           <use xlink:href="img/sprite.svg#inst"></use>
        </svg>
      </a>
    </div>

    <div class="footer__copy">
      LoveFood © 2021
    </div>
  </div>
</footer>
