<header class="header">
  <div class ="container header__container">
    <a class="logo" href="#">
      <div class="logo__icon">
        <svg>
           <use xlink:href="img/sprite.svg#heart"></use>
        </svg>
      </div>
      <span>Food</span>
    </a>

    <nav class="nav">
      <ul class="nav__list">
        <li>
          <a class="nav__link anchor-link nav__link--active" href="#home">Главная</a>
        </li>
        <li>
          <a class="nav__link anchor-link" href="#production">Продукция</a>
        </li>
        <li>
          <a class="nav__link anchor-link" href="#popular">Популярное</a>
        </li>
        <li>
          <a class="nav__link anchor-link" href="#catalog">Каталог</a>
        </li>
        <li>
          <a class="nav__link anchor-link" href="#review">Отзывы</a>
        </li>
        <li>
          <a class="nav__link anchor-link" href="#order">Заказать</a>
        </li>

      </ul>
    </nav>

    <div class="burger-btn">
      <button class="burger">
        <span class="burger__bar"></span>
      </button>
    </div>
  </div>
</header>
