<section class="home page-section" id="home">

  <div class ="container home__container">
    <div class="home__circle"></div>
    <div class="home__content">
      <h1 class="home__title">Готовим для вас с&nbsp;любовью</h1>
      <p class="home__text">
        LoveFood — сеть ресторанов быстрого питания. Доставляем качественную и вкусную еду, предлагая высокое качество за приемлемую цену.
      </p>
      <div class="home__btn-container">
        <button class="home__btn main-btn">Заказать сейчас</button>
      </div>
    </div>

    <div class="home__image">
      <img src="img/home-img/home-img.png" alt="">
    </div>
  </div>
</section>
