<section class="popular page-section" id="popular">
  <div class ="container popular__container">
    <h2 class="popular__title section-title"> Самая <span class="yellow-text">популярная</span> еда </h2>

    <div class="popular__list grid">

      <div class="popular__item product-box">
        <div class="product-box__img">
          <div class="product-box__price">490 Р</div>
          <img src="../img/product-card/pizza-pepperoni.jpg" alt="Пицца пеперони">
          <div class="product-box__nutrition nutrition">
            <div class="nutrition-item">Пищевая ценность: </div>
            <div class="nutrition-item">
              <span>Белки, г</span>
              <span>9.2</span>
            </div>
            <div class="nutrition-item">
              <span>Жиры, г</span>
              <span>18.5</span>
            </div>
            <div class="nutrition-item">
              <span>Углеводы, г</span>
              <span>26.5</span>
            </div>
            <div class="nutrition-item">
              <span>Пищевая ценность, Ккал</span>
              <span>269.9</span>
            </div>
          </div>
        </div>
        <div class="product-box__content">
          <h4 class="product-box__title">Пицца пеперони</h4>
          <div class="product-box__btn-container">
            <button class="product-box__btn main-btn">Заказать</button>
          </div>
        </div>
      </div>

      <div class="popular__item product-box">
        <div class="product-box__img">
          <div class="product-box__price">649 Р</div>
          <img src="../img/product-card/burger-set.jpg" alt="Набор Бургер плюс картошка фри">
          <div class="product-box__nutrition nutrition">
            <div class="nutrition-item">Пищевая ценность: </div>
            <div class="nutrition-item">
              <span>Белки, г</span>
              <span>9.2</span>
            </div>
            <div class="nutrition-item">
              <span>Жиры, г</span>
              <span>18.5</span>
            </div>
            <div class="nutrition-item">
              <span>Углеводы, г</span>
              <span>26.5</span>
            </div>
            <div class="nutrition-item">
              <span>Пищевая ценность, Ккал</span>
              <span>269.9</span>
            </div>
          </div>
        </div>
        <div class="product-box__content">
          <h4 class="product-box__title">Набор "Бургер + картошка"</h4>
          <div class="product-box__btn-container">
            <button class="product-box__btn main-btn">Заказать</button>
          </div>
        </div>
      </div>

      <div class="popular__item product-box">
        <div class="product-box__img">
          <div class="product-box__price">339 Р</div>
          <img src="../img/product-card/burger.jpg" alt="Бургер Биг кинг">
          <div class="product-box__nutrition nutrition">
            <div class="nutrition-item">Пищевая ценность: </div>
            <div class="nutrition-item">
              <span>Белки, г</span>
              <span>9.2</span>
            </div>
            <div class="nutrition-item">
              <span>Жиры, г</span>
              <span>18.5</span>
            </div>
            <div class="nutrition-item">
              <span>Углеводы, г</span>
              <span>26.5</span>
            </div>
            <div class="nutrition-item">
              <span>Пищевая ценность, Ккал</span>
              <span>269.9</span>
            </div>
          </div>
        </div>
        <div class="product-box__content">
          <h4 class="product-box__title">Бургер "Биг кинг"</h4>
          <div class="product-box__btn-container">
            <button class="product-box__btn main-btn">Заказать</button>
          </div>
        </div>
      </div>

      <div class="popular__item product-box">
        <div class="product-box__img">
          <div class="product-box__price">499 Р</div>
          <img src="../img/product-card/pizza-mushroom.jpg" alt="Пицца с грибами">
          <div class="product-box__nutrition nutrition">
            <div class="nutrition-item">Пищевая ценность: </div>
            <div class="nutrition-item">
              <span>Белки, г</span>
              <span>9.2</span>
            </div>
            <div class="nutrition-item">
              <span>Жиры, г</span>
              <span>18.5</span>
            </div>
            <div class="nutrition-item">
              <span>Углеводы, г</span>
              <span>26.5</span>
            </div>
            <div class="nutrition-item">
              <span>Пищевая ценность, Ккал</span>
              <span>269.9</span>
            </div>
          </div>
        </div>
        <div class="product-box__content">
          <h4 class="product-box__title">Пицца с грибами</h4>
          <div class="product-box__btn-container">
            <button class="product-box__btn main-btn">Заказать</button>
          </div>
        </div>
      </div>

       <div class="popular__item product-box">
        <div class="product-box__img">
          <div class="product-box__price">269 Р</div>
          <img src="../img/product-card/soup-2.jpg" alt="Сырный суп">
          <div class="product-box__nutrition nutrition">
            <div class="nutrition-item">Пищевая ценность: </div>
            <div class="nutrition-item">
              <span>Белки, г</span>
              <span>9.2</span>
            </div>
            <div class="nutrition-item">
              <span>Жиры, г</span>
              <span>18.5</span>
            </div>
            <div class="nutrition-item">
              <span>Углеводы, г</span>
              <span>26.5</span>
            </div>
            <div class="nutrition-item">
              <span>Пищевая ценность, Ккал</span>
              <span>269.9</span>
            </div>
          </div>
        </div>
        <div class="product-box__content">
          <h4 class="product-box__title">Сырный суп</h4>
          <div class="product-box__btn-container">
            <button class="product-box__btn main-btn">Заказать</button>
          </div>
        </div>
      </div>
      <div class="popular__item product-box">
        <div class="product-box__img">
          <div class="product-box__price">219 Р</div>
          <img src="../img/product-card/dessert-5.jpg" alt="Клубничный чизкейк">
          <div class="product-box__nutrition nutrition">
            <div class="nutrition-item">Пищевая ценность: </div>
            <div class="nutrition-item">
              <span>Белки, г</span>
              <span>9.2</span>
            </div>
            <div class="nutrition-item">
              <span>Жиры, г</span>
              <span>18.5</span>
            </div>
            <div class="nutrition-item">
              <span>Углеводы, г</span>
              <span>26.5</span>
            </div>
            <div class="nutrition-item">
              <span>Пищевая ценность, Ккал</span>
              <span>269.9</span>
            </div>
          </div>
        </div>
        <div class="product-box__content">
          <h4 class="product-box__title">Клубничный чизкейк</h4>
          <div class="product-box__btn-container">
            <button class="product-box__btn main-btn">Заказать</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
