<section class="production page-section" id="production">
  <div class ="container production__container">
    <h2 class="production__title section-title">Мы <span class="yellow-text">готовим</span></h2>

    <div class="production__list grid">
      <div class="production__item production-box">
        <div class="production-box__img">
          <img src="../img/production/pizza.jpg" alt="Пицца">
        </div>
        <div class="production-box__content">
          <div class="production-box__icon">
            <svg>
               <use xlink:href="img/sprite.svg#pizza"></use>
            </svg>
          </div>
          <h4 class="production-box__title">Пиццу</h4>
          <hr>
          <div class="production-box__text">Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Сих, вскоре свой но&nbsp;обеспечивает большой несколько на&nbsp;берегу подпоясал алфавит единственное проектах? Рукописи, моей&nbsp;но!</div>
        </div>
      </div>

      <div class="production__item production-box">
        <div class="production-box__img">
          <img src="../img/production/cake.jpg" alt="Десерты">
        </div>
        <div class="production-box__content">
          <div class="production-box__icon">
            <svg>
               <use xlink:href="img/sprite.svg#cake"></use>
            </svg>
          </div>
          <h4 class="production-box__title">Десерты</h4>
          <hr>
          <div class="production-box__text">Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Сих, вскоре свой но&nbsp;обеспечивает большой несколько на&nbsp;берегу подпоясал алфавит единственное проектах? Рукописи, моей&nbsp;но!</div>
        </div>
      </div>

      <div class="production__item production-box">
        <div class="production-box__img">
          <img src="../img/production/burger.jpg" alt="Бургеры">
        </div>
        <div class="production-box__content">
          <div class="production-box__icon">
            <svg>
               <use xlink:href="img/sprite.svg#burger"></use>
            </svg>
          </div>
          <h4 class="production-box__title">Бургеры</h4>
          <hr>
          <div class="production-box__text">Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Сих, вскоре свой но&nbsp;обеспечивает большой несколько на&nbsp;берегу подпоясал алфавит единственное проектах? Рукописи, моей&nbsp;но!</div>
        </div>
      </div>

      <div class="production__item production-box">
        <div class="production-box__img">
          <img src="../img/production/coffee.jpg" alt="Кофе">
        </div>
        <div class="production-box__content">
          <div class="production-box__icon">
            <svg>
               <use xlink:href="img/sprite.svg#coffee"></use>
            </svg>
          </div>
          <h4 class="production-box__title">Кофе</h4>
          <hr>
          <div class="production-box__text">Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Сих, вскоре свой но&nbsp;обеспечивает большой несколько на&nbsp;берегу подпоясал алфавит единственное проектах? Рукописи, моей&nbsp;но!</div>
        </div>
      </div>

       <div class="production__item production-box">
        <div class="production-box__img">
          <img src="../img/production/cocktail.jpg" alt="Холодные напитки">
        </div>
        <div class="production-box__content">
          <div class="production-box__icon">
            <svg>
               <use xlink:href="img/sprite.svg#cocktail"></use>
            </svg>
          </div>
          <h4 class="production-box__title">Холодные напитки</h4>
          <hr>
          <div class="production-box__text">Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Сих, вскоре свой но&nbsp;обеспечивает большой несколько на&nbsp;берегу подпоясал алфавит единственное проектах? Рукописи, моей&nbsp;но!</div>
        </div>
      </div>

      <div class="production__item production-box">
        <div class="production-box__img">
          <img src="../img/production/soup.jpg" alt="Супы">
        </div>
        <div class="production-box__content">
          <div class="production-box__icon">
            <svg>
               <use xlink:href="img/sprite.svg#soup"></use>
            </svg>
          </div>
          <h4 class="production-box__title">Супы</h4>
          <hr>
          <div class="production-box__text">Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Сих, вскоре свой но&nbsp;обеспечивает большой несколько на&nbsp;берегу подпоясал алфавит единственное проектах? Рукописи, моей&nbsp;но!</div>
        </div>
      </div>
    </div>

  </div>
</section>
