<section class="review page-section" id="review">
  <div class ="container review__container">
    <h2 class="review__title section-title"> <span class="yellow-text">Отзывы </span> наших покупателей </h2>

    <div class="review__list">

      <div class="review__item review-item">
        <div class="review-item__img">
          <img src="img/reviews/r-1.jpg" alt="Фото Ивана Бондарева">
        </div>
        <h3 class="review-item__name">Иван Бондарев</h3>
        <div class="review-item__rating stars-rating">
          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>
          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>
        </div>
        <p class="review-item__text">
          Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных, и&nbsp;согласных живут рыбные тексты. Запятой одна безорфографичный курсивных единственное возвращайся. Вскоре, залетают образ! Свой!
        </p>
      </div>

      <div class="review__item review-item">
        <div class="review-item__img">
          <img src="img/reviews/r-2.jpg" alt="Фото Алины Романовой">
        </div>
        <h3 class="review-item__name">Алина Романова</h3>
        <div class="review-item__rating stars-rating">
          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>
          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-empty"></use>
            </svg>
          </div>
        </div>
        <p class="review-item__text">
          Далеко-далеко, за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Буквенных агентство текстов, живет языком первую журчит подзаголовок приставка. Предупредила, жизни составитель языком заманивший приставка решила снова домах лучше ручеек.
        </p>
      </div>

      <div class="review__item review-item">
        <div class="review-item__img">
          <img src="img/reviews/r-3.jpg" alt="Фото Ксении Михеевой">
        </div>
        <h3 class="review-item__name">Ксения Михеева</h3>
        <div class="review-item__rating stars-rating">
          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>
          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>

          <div class="stars-rating__item">
            <svg>
               <use xlink:href="img/sprite.svg#star-filled"></use>
            </svg>
          </div>
        </div>
        <p class="review-item__text">
          Далеко-далеко за&nbsp;словесными горами в&nbsp;стране гласных и&nbsp;согласных живут рыбные тексты. Заголовок своего свою осталось текста. Он, безопасную что. Переулка силуэт повстречался всемогущая знаках свою подзаголовок пояс букв заманивший живет это злых дал, толку текста.
        </p>
      </div>

    </div>
  </div>
</section>
